<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Jogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body class="container">
    <h2>Cadastrar novo jogo</h2>
    <br>
    <form class="row justify-content-md-center" method="POST" action="/jogo/manager/">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Data do Jogo</label>
          <input type="text" class="form-control" name="data" placeholder="__ /__ /____" >
          
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Hora do Jogo</label>
            <input type="text" class="form-control" name="hora" placeholder="__ : __">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Status do Jogo</label>
            <input type="text" class="form-control" name="Status">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Time A</label>
            <input type="text" class="form-control" name="time1">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Time B</label>
            <input type="text" class="form-control" name="time2" >
            
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Pontuação Time A</label>
            <input type="text" class="form-control"  name="pontTime1" >
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Pontuação Time B</label>
            <input type="text" class="form-control"  name="pontTime2" >
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Vencedor</label>
            <input type="text" class="form-control"  name="vencedor"  >
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Status do campeonato</label>
            <input type="text" class="form-control" id="status" name="status" >
            
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Campeonato</label>
            <input type="text" class="form-control"  name="campeonato" >
            
        </div>

          
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</body>
</html>