body{
   
}


/*Cabeçalho*/
.naveg{
    background-color: #4682B4;
    margin: 20px;
    border-radius: 5px;

  
}

h4{
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.menu ul{
    margin-left: 800px;
    font-weight: bold;
    color: white;
}

.cadastrar a{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 3px;
    margin-top: 5px;
    margin-left: 10px;
    
}

/* ------ Conteudo da Pagina*/

.imagem{
    float: left 
}

.fundo{
    width: 350px;
    margin-left: -100px;
}


.campeonatos{
    float: right;
    margin-right:  50px;
    text-align: center;
}


th{
    border: 1px solid;

}
.inic{
   
    border-top-left-radius: 10px;
}
.fim{
   
    border-top-right-radius: 10px;
}
/*Botões de editar e excluir campeonato*/



button{
    border:none;
    background-color: #fff;
}




